[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tqdm = "*"
tldextract = "*"

[requires]
python_version = "3.6"

[scripts]
predict = "python3 main.py"
